<%- include('./partials/header') %>
<div class="error-pg">
  <div class="error-number">
    <div class="number left-coffee">4</div>
    <div class="coffee-mug"></div>
    <div class="number right-coffee">4</div>
  </div>
  <div class="sm-screen">500</div>
  <div class="mean-msg">
    <p>Une erreur est survenue</p>
    <p>Veuillez nous contacter si le problême persiste</p>
    <a href="/">Retour à l'accueil</a>
  </div>
</div>
