section {
  margin-bottom: 2rem;
}
@media (min-width: 481px) {
  .title_who {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .who_img {
    width: 20rem;
    object-fit: cover;
    border-radius: 15px;
  }
  .who_section_content {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  .img_to_right {
    flex-direction: row;
  }
  .title_to_the_right {
    text-align: right;
  }
  .phone_text {
    display: none;
  }
}
@media (max-width: 480px) {
  .who_img {
    display: none;
  }
  .pc_text {
    display: none;
  }
}
