
<footer class="footer">
<nav class="footer_nav">
    <ul class="footer_nav_contain">
 
  <% if (locals.adminConnected) { %>
   <li class="footer_nav_item"><a href="/log_out" class="footer_nav_link">Se déconnecter</a></li>
  <% } else {%>
    <li class="footer_nav_item"><a href="/plan_du_site" class="footer_nav_link">Plan du site</a></li>
  <li class="footer_nav_item"><a href="/contact" class="footer_nav_link">Contact</a></li>
  <li class="footer_nav_item"><a href="#" class="footer_nav_link">Politique de confidentialité</a></li>
  <li class="footer_nav_item"><a href="#" class="footer_nav_link">Mention légales</a></li> 
  <li class="footer_nav_item"><a href="/admin" class="footer_nav_link">Admin</a></li>   <% } %>
</ul>
</nav>

</footer>    
 <script src="../../../js/java.js"></script>
<% if (locals.browsing_pageJava) { %>
 <script src="../../../js/browsing_page.js"></script>
<% } %>
 
</body>
</html>