
<footer class="footer">
<nav class="footer_nav">
    <ul class="footer_nav_contain">
 <li class="footer_nav_item"><a href="" class="footer_nav_link">Plan du site</a></li>
  <li class="footer_nav_item"><a href="" class="footer_nav_link">Contact</a></li>
  <li class="footer_nav_item"><a href="" class="footer_nav_link">Politique de confidentialité</a></li>
    </ul>
</nav>

</footer>    
 <script src="../../../js/java.js"></script>
<% if (locals.browsing_pageJava) { %>
 <script src="../../../js/browsing_page.js"></script>
<% } %>
</body>
</html>