<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ocoffee</title>
    <link rel="stylesheet" href="../../../css/reset.css" />
    <link rel="stylesheet" href="../../../css/style.css" />
    <% if (locals.indexStyle) { %>
       <link rel="stylesheet" href="../../../css/index.css" />
    <% } else if (locals.browsing_pageStyle) { %>
       <link rel="stylesheet" href="../../../css/browsing_page.css" />
    <% } else if (locals.productStyle){%>
      <link rel="stylesheet" href="../../../css/product.css" />
    <% } else if (locals.whoStyle){%>
      <link rel="stylesheet" href="../../../css/who.css">
      <% } else if (locals.error404Style){%>
        <link rel="stylesheet" href="../../../css/404.css">
        <% } %>
  <% if (locals.error404Style){%><% }else {%>   
  </head>
  <body>
    <header class="header">
      <div class="header_left"><a class="link_home" href="/">
        <img class="logo" src="../../../assets/logo.svg" alt="" />
        <h1 class="main_title">Ocoffee</h1>
      </a>
      </div>
      <div class="header_right">
        <ul class="menu_container">
          <li class="menu_item"><a class="menu_link" href="/catalogue">Catalogue</a></li>
          <li class="menu_item"><a class="menu_link" href="/qui_sommes_nous">Qui sommes nous ?</a></li>
        </ul>
        <div class="menu_body">
<button class="menu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
      <svg class="svg_burger" width="100" height="100" viewBox="0 0 100 100">
        <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
        <path class="line line2" d="M 20,50 H 80" />
        <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
      </svg>
    </button></div>
   <ul class="burger">
          <li class="burger_item"><a class="burger_link" href="/catalogue">Catalogue</a></li>
          <li class="burger_item"><a class="burger_link" href="/qui_sommes_nous">Qui sommes nous ?</a></li>
        </ul>   </div>

    </header>
  
<% } %>