<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ocoffee</title>
    <link rel="stylesheet" href="../../../css/reset.css" />
    <link rel="stylesheet" href="../../../css/style.css" />
    <% if (locals.indexStyle) { %>
       <link rel="stylesheet" href="../../../css/index.css" />
    <% } else if (locals.browsing_pageStyle) { %>
       <link rel="stylesheet" href="../../../css/browsing_page.css" />
    <% } %>
  </head>
  <body>
    <header class="header">
      <div class="header_left"><a class="link_home" href="/">
        <img class="logo" src="../../../assets/logo.svg" alt="" />
        <h1 class="main_title">Ocofee</h1>
      </a>
      </div>
      <div class="header_right">
        <ul class="menu_container">
          <li class="menu_item"><a class="menu_link" href="/">Accueil</a></li>
          <li class="menu_item"><a class="menu_link" href="/catalogue">Catalogue</a></li>
          <li class="menu_item"><a class="menu_link" href="#">Qui sommes nous ?</a></li>
        </ul>
      </div>
    </header>
  
