<%- include('./partials/header') %>

<body>
  <main class="main">
    <div class="container">
      <section class="upper_section">
        <div class="upper_section_left">
          <h2 class="index_title">Bienvenue</h2>
          <p class="text_index">
            Chez Ocofee, nous croyons en un café qui a du sens. Chaque tasse que
            nous servons est le fruit d’un engagement profond en faveur du
            commerce équitable et durable. Notre démarche place l’accessibilité
            et l’écologie au cœur de nos choix, pour que savourer un bon café
            reste un plaisir respectueux de la planète et des personnes qui la
            cultivent. Venez découvrir un espace où qualité et éthique
            s’harmonisent, un lieu pensé pour vous et pour l’avenir.
          </p>
          <div class="upper_section_left-buttons_contain">
            <button class="button_site"><a href="#">En savoir plus</a></button>
            <button class="button_site">
              <a href="/catalogue">Voir le catalogue</a>
            </button>
          </div>
        </div>
        <div class="upper_section_right">
          <img
            class="upper_section_right_image"
            src="../../assets/about.jpg"
            alt=""
          />
        </div>
      </section>
      <section class="lower_section">
        <h2 class="index_title">Nos nouveautés</h2>
        <div class="lower_section_main">
          <% coffee.forEach(cof => { %>
          <article class="coffee_article">
            <h1 class="coffee_article_title"><%= cof.nom %></h1>
            <div class="coffee_article_darkener"></div>
            <img
              class="cofee_img"
              src="../../assets/coffees/<%= cof.reference %>.png"
              alt=""
            />
            <button class="button_site coffee_article_button">
              <a href="#">Découvrir</a>
            </button>
          </article>
          <% }) %>
        </div>
      </section>
    </div>
  </main>
</body>

<%- include('./partials/footer') %>
